body {
    background: linear-gradient(135deg, #f0c046 0%, #FFD670 50%, #f0c046 100%);
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
    height: 100vh;
    width: 100vw;           
    margin: 0;
}

.opcoes{
    background-color: #FBFCE1;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;     
    height: fit-content;
    width: 300px;
    padding: 5px;
}

.total{
    background-color: #FBFCE1;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding: 80px;
    margin: 0;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.433);
    border-radius: 10%;
}

h1, h2, input, form, a {
    text-align: center;
}